<nav>
    <div class="nav-wrapper grey darken-4">
        <a href="#" class="brand-logo">File Uploader</a>
        {{!-- <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/upload">Upload</a></li>
            <li><a href="/files">Files</a></li>
        </ul> --}}
    </div>
</nav>