<div class="container">
    <div class="section">

        <section class="upload-form">
            <div class="for-DragDrop"></div>

            <div class="for-ProgressBar"></div>

            <div class="error-messages">
                <ol></ol>
            </div>

            <div class="uploaded-files">
                <h5>Uploaded files:</h5>
                <ol></ol>
            </div>
        </section>

        <table class="highlight responsive-table">
          
        </table>

        <script type="module">
            let table = new DataTable('.highlight');
        </script>
    </div>
</div>