body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

.uppy-Dashboard-inner {
    width: 100% !important;
}

a.uppy-Dashboard-poweredBy {
    display: none !important;
}